@page "/access-requests"
@using OfficeEntry.Domain.Entities;
@inject HttpClient Http

<h1>Access Requests</h1>

@if (accessRequests == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var accessRequest in accessRequests)
    {
        @*<div class="card mb-3">
                <div class="card-header">
                    @accessRequest.Name
                </div>
                <div class="card-body">
                    @accessRequest.Status
                    <br />
                    @accessRequest.Location
                    <br />
                    @accessRequest.EntryTime
                </div>
            </div>*@

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4 bg-secondary text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100" height="100" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 512"><path d="M496 224c-79.6 0-144 64.4-144 144s64.4 144 144 144s144-64.4 144-144s-64.4-144-144-144zm64 150.3c0 5.3-4.4 9.7-9.7 9.7h-60.6c-5.3 0-9.7-4.4-9.7-9.7v-76.6c0-5.3 4.4-9.7 9.7-9.7h12.6c5.3 0 9.7 4.4 9.7 9.7V352h38.3c5.3 0 9.7 4.4 9.7 9.7v12.6zM320 368c0-27.8 6.7-54.1 18.2-77.5c-8-1.5-16.2-2.5-24.6-2.5h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h347.1c-45.3-31.9-75.1-84.5-75.1-144zm-96-112c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128z" fill="white" /></svg>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@accessRequest.Building.Name</h5>
                        <span class="oi circle-x" aria-hidden="true"></span>

                        <p class="card-text">@accessRequest.Floor.Name</p>
                        <p class="card-text">@accessRequest.StartTime</p>
                        <p class="card-text"><small class="text-muted">@accessRequest.Status.Value</small></p>
                    </div>
                </div>
            </div>
        </div>
    }

    @*<div class="card mb-3">
            <div class="card-header bg-success text-white">
                @accessRequests[0].Name
            </div>
            <div class="card-body">
                Approved
                <br />
                @accessRequests[0].Location
                <br />
                @accessRequests[0].EntryTime
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header bg-danger text-white">
                @accessRequests[0].Name
            </div>
            <div class="card-body">
                Denied
                <br />
                @accessRequests[0].Location
                <br />
                @accessRequests[0].EntryTime
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header bg-secondary text-white">
                @accessRequests[0].Name
            </div>
            <div class="card-body">
                Pass
                <br />
                @accessRequests[0].Location
                <br />
                @accessRequests[0].EntryTime
            </div>
        </div>*@

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4 bg-success text-white">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100" height="100" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="white"><path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417L5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" /></g></svg>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
                    <p class="card-text"><small class="text-success">Approved</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4 bg-danger text-white">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100" height="100" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 8 8"><path d="M4 0C1.79 0 0 1.79 0 4s1.79 4 4 4s4-1.79 4-4s-1.79-4-4-4zM2.5 1.78L4 3.28l1.5-1.5l.72.72L4.72 4l1.5 1.5l-.72.72L4 4.72l-1.5 1.5l-.72-.72L3.28 4l-1.5-1.5l.72-.72z" fill="white" /></svg>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
                    <p class="card-text"><small class="text-danger">Denied</small></p>
                </div>
            </div>
        </div>
    </div>
}



@code {
    private Domain.Entities.AccessRequest[] accessRequests;

    protected override async Task OnInitializedAsync()
    {
        accessRequests = await Http.GetFromJsonAsync<Domain.Entities.AccessRequest[]>("api/AccessRequests");
    }
}
