@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/en/access-requests/{id:guid}"
@page "/fr/demandes-d-acces/{id:guid}"

<h1>@Localizer["Review"]</h1>

@if (accessRequest is null)
{
    <Loading />
}
else
{
    <h2>@accessRequest.EmployeeName</h2>
    if (string.IsNullOrWhiteSpace(accessRequest.Workspace))
    {
        <p>@accessRequest.Building, @accessRequest.Floor</p>
    }
    else
    {
        <p>@accessRequest.Building, @accessRequest.Floor, @accessRequest.Workspace</p>
    }
    <p class="card-text">@accessRequest.StartTime.ToString(Localizer["MMMM dd, yyyy"]) - @accessRequest.StartTime.ToString(Localizer["h:mm tt"]) @Localizer["To"] @accessRequest.EndTime.ToString(Localizer["h:mm tt"])</p>
    <p><strong>@Localizer["Status:"]</strong> @Localizer[accessRequest.Status.ToString()]</p>
    if (!string.IsNullOrWhiteSpace(accessRequest.Reason))
    {
        <p><strong>@Localizer["Reason:"]</strong> @Localizer[accessRequest.Reason]</p>
    }
    if (!string.IsNullOrWhiteSpace(accessRequest.ManagerName))
    {
        <p><strong>@Localizer["Manager:"]</strong> @Localizer[accessRequest.ManagerName]</p>
    }
    if (!string.IsNullOrWhiteSpace(accessRequest.Details))
    {
        <p><strong>@Localizer["Details:"]</strong> @accessRequest.Details</p>
    }

    if (IsEmployee || IsDelegate)
    {
        <button type="button" class="btn btn-danger" @onclick="CancelRequest" disabled="@IsCancelled">@Localizer["Cancel"]</button>
    }
}