@using OfficeEntry.Infrastructure.Services.Xrm.Entities

<table class="table table-striped datatables responsive nowrap" width="100%" data-order="@DataOrder">
    <thead>
        <tr>
            <th>@Localizer["Date"]</th>
            <th>@Localizer["Requestor"]</th>
            <th>@Localizer["Building"]</th>
            <th>@Localizer["Floor"]</th>
            <th>@Localizer["Status"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var accessRequest in AccessRequests)
        {
            var statusClass = string.Empty;
            var tdClass = "align-middle";

            switch ((ApprovalStatus)accessRequest.Status.Key)
            {
                case ApprovalStatus.Approved:
                    statusClass = "text-success";
                    break;
                case ApprovalStatus.Pending:
                    statusClass = "text-secondary";
                    tdClass += " font-weight-bold";
                    break;
                case ApprovalStatus.Cancelled:
                case ApprovalStatus.Declined:
                default:
                    statusClass = "text-danger";
                    break;
            }

            <tr>
                <td class="@tdClass" data-order="@accessRequest.StartTime.Ticks">
                    <a class="btn btn-secondary btn-sm mr-2" href="/@Localizer["access-requests"]/@accessRequest.Id"><i class="fas fa-external-link-alt"></i></a>
                    @accessRequest.StartTime.Date.ToString(Localizer["MMMM dd, yyyy"]) @accessRequest.StartTime.ToString(Localizer["h:mm tt"]) - @accessRequest.EndTime.ToString(Localizer["h:mm tt"])
                </td>
                <td class="@tdClass">@accessRequest.Employee.FullName</td>
                <td class="@tdClass">@accessRequest.Building.Name</td>
                <td class="@tdClass">@accessRequest.Floor.Name</td>
                <td data-order="@accessRequest.GetStatusOrder()" class="align-middle font-weight-bold @statusClass">@Localizer[accessRequest.Status.Value]</td>
            </tr>
        }
    </tbody>
</table>
