@inject IStringLocalizer<App> Localizer

@using OfficeEntry.Infrastructure.Services.Xrm.Entities

<table class="table table-striped datatables responsive nowrap" width="100%">
    <thead>
        <tr>
            <th>@Localizer["Date"]</th>
            <th>@Localizer["StartTime"]</th>
            <th>@Localizer["EndTime"]</th>
            <th>@Localizer["Building"]</th>
            <th>@Localizer["Floor"]</th>
            <th>@Localizer["Status"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var accessRequest in AccessRequests)
        {
            var statusClass = string.Empty;
            switch ((ApprovalStatus)accessRequest.Status.Key)
            {
                case ApprovalStatus.Approved:
                    statusClass = "text-success";
                    break;
                case ApprovalStatus.Pending:
                    statusClass = "text-secondary";
                    break;
                case ApprovalStatus.Cancelled:
                case ApprovalStatus.Declined:
                default:
                    statusClass = "text-danger";
                    break;
            }

            <tr>
                <td class="align-middle">
                    <a class="btn btn-secondary btn-sm mr-2" href="/@Localizer["access-requests"]/@accessRequest.Id"><i class="fas fa-external-link-alt"></i></a>
                    @accessRequest.StartTime.Date.ToString(Localizer["MMMM dd, yyyy"])
                </td>
                <td class="align-middle">@accessRequest.StartTime.ToString(Localizer["h:mm tt"])</td>
                <td class="align-middle">@accessRequest.EndTime.ToString(Localizer["h:mm tt"])</td>
                <td class="align-middle">@accessRequest.Building.Name</td>
                <td class="align-middle">@accessRequest.Floor.Name</td>
                <td class="align-middle font-weight-bold @statusClass">@Localizer[accessRequest.Status.Value]</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<OfficeEntry.Domain.Entities.AccessRequest> AccessRequests { get; set; }
}
