@inject IStringLocalizer<App> Localizer

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        @switch (AccessRequest.Status.Key)
        {
            case (int)Domain.Entities.AccessRequest.ApprovalStatus.Approved:
                <div class="col-md-4 bg-success text-white d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        focusable="false" width="100" height="100"
                        style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
                        <g fill="white">
                            <path fill-rule="evenodd"
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417L5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </g>
                    </svg>
                </div>
                break;
            case (int)Domain.Entities.AccessRequest.ApprovalStatus.Cancelled:
            case (int)Domain.Entities.AccessRequest.ApprovalStatus.Declined:
                <div class="col-md-4 bg-danger text-white d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        focusable="false" width="100" height="100"
                        style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 8 8">
                        <path
                            d="M4 0C1.79 0 0 1.79 0 4s1.79 4 4 4s4-1.79 4-4s-1.79-4-4-4zM2.5 1.78L4 3.28l1.5-1.5l.72.72L4.72 4l1.5 1.5l-.72.72L4 4.72l-1.5 1.5l-.72-.72L3.28 4l-1.5-1.5l.72-.72z"
                            fill="white" />
                    </svg>
                </div>
                break;
            case (int)Domain.Entities.AccessRequest.ApprovalStatus.Pending:
            default:
                <div class="col-md-4 bg-secondary text-white d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        focusable="false" width="100" height="100"
                        style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 512">
                        <path
                            d="M496 224c-79.6 0-144 64.4-144 144s64.4 144 144 144s144-64.4 144-144s-64.4-144-144-144zm64 150.3c0 5.3-4.4 9.7-9.7 9.7h-60.6c-5.3 0-9.7-4.4-9.7-9.7v-76.6c0-5.3 4.4-9.7 9.7-9.7h12.6c5.3 0 9.7 4.4 9.7 9.7V352h38.3c5.3 0 9.7 4.4 9.7 9.7v12.6zM320 368c0-27.8 6.7-54.1 18.2-77.5c-8-1.5-16.2-2.5-24.6-2.5h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h347.1c-45.3-31.9-75.1-84.5-75.1-144zm-96-112c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128z"
                            fill="white" />
                    </svg>
                </div>
                break;
        }
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@AccessRequest.Employee.FullName</h5>

                @if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName is "en")
                {
                    @if (AccessRequest.Workspace is null)
                    {
                        <p class="card-text">@AccessRequest.Building.EnglishName, @AccessRequest.Floor.EnglishName</p>
                    } 
                    else
                    {
                        <p class="card-text">@AccessRequest.Building.EnglishName, @AccessRequest.Floor.EnglishName, @AccessRequest.Workspace.Name</p>
                    }
                    
                }
                else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName is "fr")
                {
                    @if (AccessRequest.Workspace is null)
                    {
                        <p class="card-text">@AccessRequest.Building.FrenchName, @AccessRequest.Floor.FrenchName</p>
                    }
                    else
                    {
                        <p class="card-text">@AccessRequest.Building.FrenchName, @AccessRequest.Floor.FrenchName,
                        @AccessRequest.Workspace.Name</p>
                    }
                }

                <p class="card-text">@AccessRequest.StartTime.ToString(Localizer["dddd, MMMM dd, yyyy"]) -
                    @AccessRequest.StartTime.ToString(Localizer["h:mm tt"]) @Localizer["To"]
                    @AccessRequest.EndTime.ToString(Localizer["h:mm tt"])</p>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span class="align-middle">
                            @Localizer[AccessRequest.Status.Value]
                        </span>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <a class="btn btn-secondary btn-sm"
                                href="/@Localizer["access-requests"]/@AccessRequest.Id">@Localizer["Review"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public OfficeEntry.Domain.Entities.AccessRequest AccessRequest { get; set; }
}
