<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td style="padding: 20px; font-size: 15px; line-height: 20px;">
            <h1 style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif; font-size: 25px; line-height: 30px; color: #B31885; font-weight: normal;">[FR] Maximum capacity has been reached or exceeded</h1>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;">[FR] The maximum capacity (<strong>{{Capacity}}</strong>) for <strong>{{Building.FrenchName}}</strong> - <strong>{{Floor.FrenchName}}</strong> has been reached.</p>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;">[FR] Another <strong>{{RoleFrenchName}}</strong> is required before more requests can be approved.</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px; font-size: 15px; line-height: 20px;">
            <h1 style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif; font-size: 25px; line-height: 30px; color: #B31885; font-weight: normal;">Maximum capacity has been reached or exceeded</h1>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;">The maximum capacity (<strong>{{Capacity}}</strong>) for <strong>{{Building.EnglishName}}</strong> - <strong>{{Floor.EnglishName}}</strong> has been reached.</p>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;">Another <strong>{{RoleEnglishName}}</strong> is required before more requests can be approved.</p>
        </td>
    </tr>
</table>