<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td style="padding: 20px; font-size: 15px; line-height: 20px;">
            <h1 style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif; font-size: 25px; line-height: 30px; color: #B31885; font-weight: normal;">Un {{RoleFrenchName}} n'est plus requis</h1>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;">Un <strong>{{RoleFrenchName}}</strong> n'est plus requis pour le <strong>{{Building.FrenchName}}</strong> - <strong>{{Floor.FrenchName}}</strong> le <strong>{{formatDate Date}}</strong>.</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px; font-size: 15px; line-height: 20px;">
            <h1 style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif; font-size: 25px; line-height: 30px; color: #B31885; font-weight: normal;">A {{RoleEnglishName}} is no longer required</h1>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;">A <strong>{{RoleEnglishName}}</strong> is no longer required for <strong>{{Building.EnglishName}}</strong> - <strong>{{Floor.EnglishName}}</strong> on <strong>{{formatDate Date}}</strong>.</p>
        </td>
    </tr>
</table>