<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td style="padding: 20px; font-size: 15px; line-height: 20px;">
            <h1 style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif; font-size: 25px; line-height: 30px; color: #B31885; font-weight: normal;">Votre demande est présentement en attente. Vous recevrez une confirmation lorsque votre demande sera confirmée.</h1>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;">Votre demande dépasse présentement la capacité nécessaire du nombre de secouristes et d’agents de secours d’étage sur place. Les secouristes et/ou agents de secours d’étage ont été informés que la capacité maximale a été atteinte et que l’organisation a besoin d’au moins un volontaire supplémentaire sur place.</p>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;">Selon le <a style="background-color: transparent; color: #00627e; text-decoration: underline;" href="https://laws-lois.justice.gc.ca/fra/lois/l-2/page-14.html#h-332798">Code Canadien du travail, partie II</a>, le Commissariat a des obligations légales d’avoir suffisamment de secouriste set d’agents de secours d’étage sur le lieux du travail pendant les heures d’opérations.</p>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;">Votre demande est présentement en attente.  Vous recevrez une confirmation lorsque votre demande sera confirmée.</p>
            <ul style="padding: 0; margin: 0 0 10px 0; list-style-type: disc;">
                <li style="margin: 0 0 0 30px; font-family: Helvetica,Arial,sans-serif;" class="list-item-first">Employé : {{AccessRequest.Employee.FullName}}</li>
                <li style="margin: 0 0 0 30px; font-family: Helvetica,Arial,sans-serif;">Date : {{formatDate AccessRequest.StartTime}}</li>
                <li style="margin: 0 0 0 30px; font-family: Helvetica,Arial,sans-serif;">Temps d'accès : {{formatTime AccessRequest.StartTime}} à {{formatTime AccessRequest.EndTime}}</li>
                <li style="margin: 0 0 0 30px; font-family: Helvetica,Arial,sans-serif;">Statut : {{AccessRequest.FrenchStatus}}</li>
                <li style="margin: 0 0 0 30px; font-family: Helvetica,Arial,sans-serif;">Immeuble / Étage : {{AccessRequest.Building.FrenchName}} - {{AccessRequest.Floor.FrenchName}}</li>
                {{#if AccessRequest.Workspace.Name}}
                <li style="margin: 0 0 0 30px; font-family: Helvetica,Arial,sans-serif;">Espace de travail : {{AccessRequest.Workspace.Name}}</li>
                {{/if}}
                <li style="margin: 0 0 10px 30px; font-family: Helvetica,Arial,sans-serif;" class="list-item-last">Créée le : {{formatDate AccessRequest.CreatedOn}} {{formatTime AccessRequest.CreatedOn}}</li>
            </ul>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;"><a style="background-color: transparent; color: #00627e; text-decoration: underline;" href="{{FrenchUrl}}">Cliquez ici pour accéder ou modifier la demande</a></p>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px; font-size: 15px; line-height: 20px;">
            <h1 style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif; font-size: 25px; line-height: 30px; color: #B31885; font-weight: normal;">Your request is currently pending. You will receive a confirmation when your request will be approved.</h1>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;">Your requests currently exceed the capacity for the number of First Aid Attendant FAA or Floor Emergency Officers FEO needed to be onsite. FAA and FEO have been advised that the maximum capacity has been reached and that the organization requires a minimum of one more volunteer to be onsite.</p>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;">According to the <a style="background-color: transparent; color: #00627e; text-decoration: underline;" href="https://laws-lois.justice.gc.ca/eng/acts/l-2/page-14.html#h-341197">Canada Labor Code, part II</a>, the OPC have legal obligations to have sufficiant trained FAA or FEO to be on site at all times during operational hours.</p>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;">Your request is currently pending, until an FEO or FAA will make their reservation. You will receive a confirmation when your request will be approved.</p>
            <ul style="padding: 0; margin: 0 0 10px 0; list-style-type: disc;">
                <li style="margin: 0 0 0 30px; font-family: Helvetica,Arial,sans-serif;" class="list-item-first">Employee: {{AccessRequest.Employee.FullName}}</li>
                <li style="margin: 0 0 0 30px; font-family: Helvetica,Arial,sans-serif;">Date: {{formatDate AccessRequest.StartTime}}</li>
                <li style="margin: 0 0 0 30px; font-family: Helvetica,Arial,sans-serif;">Time of access: {{formatTime AccessRequest.StartTime}} to {{formatTime AccessRequest.EndTime}}</li>
                <li style="margin: 0 0 0 30px; font-family: Helvetica,Arial,sans-serif;">Status: {{AccessRequest.EnglishStatus}}</li>
                <li style="margin: 0 0 0 30px; font-family: Helvetica,Arial,sans-serif;">Building / Floor: {{AccessRequest.Building.EnglishName}} - {{AccessRequest.Floor.EnglishName}}</li>
                {{#if AccessRequest.Workspace.Name}}
                <li style="margin: 0 0 0 30px; font-family: Helvetica,Arial,sans-serif;">Workstation: {{AccessRequest.Workspace.Name}}</li>
                {{/if}}
                <li style="margin: 0 0 10px 30px; font-family: Helvetica,Arial,sans-serif;" class="list-item-last">Created on: {{formatDate AccessRequest.CreatedOn}} {{formatTime AccessRequest.CreatedOn}}</li>
            </ul>
            <p style="margin: 0 0 10px 0; font-family: Helvetica,Arial,sans-serif;"><a style="background-color: transparent; color: #00627e; text-decoration: underline;" href="{{EnglishUrl}}">Click here to access or modify the request</a></p>
        </td>
    </tr>
</table>